*~
maths/mpsi2/cdt_mpsi2/cdt_mpsi2_16-17.haux
maths/mpsi2/cdt_mpsi2/cdt_mpsi2_16-17.html
info/mpsi2/cdt_mpsi2/cdt_mpsi2_16-17.haux
info/mpsi2/cdt_mpsi2/cdt_mpsi2_16-17.html
maths/mpsi1/CaTxt16-17.haux
info/mpsi1/CaTxt16-17-ipt.haux
*.backup
.DS_Store
